.counter {
  font-size: 2rem;
  user-select: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.counter__title {
  margin-bottom: 7px;
}

.counter__value {
  display: inline-block;
  margin: 0 9px;
  min-width: 40px;
  text-align: center;
}

.counter__controll {
  cursor: pointer;
}