.Clock {
  position: relative;
}

.Clock__timer {
  position: absolute;
  font-size: 5.1rem;
  top: 30%;
  width: 100%;
  text-align: center;
}

.Clock__controlls {
  position: absolute;
  top: 65%;
  width: 100%;
  text-align: center;
}